<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <title>Gymio</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
      integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>

    <script type="module" src="/static/js/game.js" defer></script>
    <script type="module" src="/static/js/gfx.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css">
  
  </head>
  
  <body>
    <h2>Welcome to Gymio!</h2>
    <button onclick="capture()">Capture</button>  <br> </br>
    <p id="print_result"></p>
    <video></video>
    
    <canvas id="main_canvas" width="1280" height="720" ></canvas>
    
    <div id="canvas_1_container">
      <canvas id="canvas_1" style="overflow:auto"></canvas>
    </div>
    <div>
      <canvas id="canvas_2" style="overflow:auto;"></canvas>
    </div>



  </body>
</html>