<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movify</title>
    <link rel="stylesheet" href="mov.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>
    <script src="/static/js/index.js" async></script>
  
  </head>
  <body>
    <p>Welcome to Movify!</p>
    <div class="form">
    Name <br>
    <input name="name" id="name"><br><br>
    Roomname <br>
    <input name="room"id="room"><br><br>
    Join <br><br>
    <button onclick="join()" class="button" >Join me</button><br><br>
    Create <br><br>
    <button onclick="create()" class="button" >Create</button><br>
    </div>


  </body>
</html>